/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*BODY*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  overflow-y: hidden;
}


/*SIDEBAR*/

nav{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: start;
position: fixed;
width: 270px;
height: 100%;
min-height: 350px;
color: white;
background: rgba(0, 0, 0, 0.801);
border-top-right-radius: 20px;
border-bottom-right-radius: 10px;
transition: ease-in 0.3s;
z-index: 100;
}

nav.hide{
width: 0;
}

nav span{
width: 100%;
text-align: center;
padding: 20px 0;
font-size: 28px;
font-weight: 800;
overflow: hidden;
}

.sidebar-menu{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-around;
height: 70%;
width: 100%;
list-style: none;
overflow: hidden;
}

.sidebar-menu li{
text-align: center;
width: 100%;
}

.sidebar-menu li a{
display: inline-flex;
align-items: center;
width: 95%;
padding: 5px 15px;
color: white;
text-decoration: none;
font-size: 20px;
transition: ease-in 0.2s;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 5px;
}

.sidebar-menu li a:hover{
color: #35afd4;
border: 1px solid white;
}

.sidebar-menu li a i{
margin: 0 18px;
width: 20px;
}

#toggle-btn{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
top: 10px;
right: -39px;
width: 40px;
height: 40px;
font-size: 18px;
background: rgba(0, 0, 0, 0.801);
border-radius: 0 7px 7px 0;
border: none;
cursor: pointer;
color: white;
transition: linear 0.2s;
}

#toggle-btn:hover{
background: rgba(0, 0, 0, 0.623);
color: #265df2;
}

/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

/*CARDS*/

.main-cards {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
  width: 100%;    
  
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  margin-top: 70px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  user-select: none;  
}

.card:first-child {
  border-left: 7px solid #246dec;
}

.card:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
  border-left: 7px solid #367952;
}

.card:nth-child(4) {
  border-left: 7px solid #cc3c43;
}

.card > span {
  font-size: 20px;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > p {
  font-size: 18px;
}

/*TABELA*/

.text{
  text-align: center;
  color: #f58634;
  font-weight: bold;
  user-select: none;
}

.dashboard{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 10px 14px;
}

.dashboard .top{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -70px;
}

table{
	width: 80vw;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: black;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}


.table2{
	width: 100%;
	border-collapse: collapse;
  table-layout: fixed;
  
}

.table2 td,.table2{
  padding:12px 15px;
  border:none;
  text-align: center;
  font-size:16px;

}

.table2 th{
	background-color: white;
	color:#070d63;
  height: 50px;
  border:none;
}

.table2 tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

.aprovar{
  background-color: rgb(124, 223, 124);
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.rejeitar{
  background-color: rgb(241, 68, 68);
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.aprovar:hover {
  background-color: green;
  color:white;
  transition: 0.5s ease;
  }

.rejeitar:hover {
  background-color: red;
  color:white;
  transition: 0.5s ease;
  }


.titulo{
  font-weight: bold;
  color: #f58634;
  margin-top: -60px;
  user-select: none;
}

section{
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
  width: 100%;
  user-select: none;
}

  /*MODAL*/

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    border-radius: 20px;
    
  }

  .modalFoto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    }

  .modalFoto-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 700px;
    height: auto; 
    overflow-y: auto;
    border-radius: 10px;
    }

    #nomeUsuario{
      position: absolute;
      bottom: 50px;
      user-select: none;
      display: flex;
      font-weight: 500;

    }
    
    #icone{
      position: absolute;
      bottom: 20px;
      width: 100px;
      color: white;
      margin-left: 85%;
    }
    
    #cargo{
      font-size: 15px;
      position: absolute;
      bottom: 0;
      font-weight: 400;
    }

  /* ---------- MEDIA QUERIES ---------- */

  @media (max-width: 1920px) {

    .table, .table2{
      margin-left: -1%;
      
    }

    .modal-content{
      margin: 0 17% auto;
      width: 100%;
    }

   
   .dashboard{
     width: 100%;
     overflow: hidden;
   }

   section{
     overflow-y: auto;
     height: 550px;
   }

   .main-cards{
    margin-bottom: 10%;
   }

   #fotoModal{
    margin-left: 9px;
   }
   
    .modalFoto-content{
    margin: 8% auto;
    height: 530px;
    overflow-y: hidden;
    }
  }

  @media (max-width: 1601px) {
    .main-cards{
      margin: 0 auto;
      margin-bottom: 7%;
      margin-top: 1%;
    }
   .dashboard{
    width: 100%;
   }

    .table2{
      width: 100%;
    }

    hr{
      width: 100%;
    }

    .aprovar, .rejeitar{
      width: 46%;
      font-size: 11px;
    }

    .modal-content{
      width: 80%;
      margin: 0 12% auto;
    }

    section{
      margin: 0 auto;
      height: 350px;
      
    }

    .aprovar,.rejeitar{
      width: 55px;
    }

  
   
  }

  @media (max-width: 1300px) {
    .main-cards{
      margin-top:-50px;
    }
    section{
      overflow-y: auto;
    }
  }

@media screen and (max-width: 1200px) {

  .table thead{
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .table tr{
    margin-bottom:15px;
  }

  .table2 thead{
    display: none;
  }

  .table2, .table2 tbody, .table2 tr, .table2 td{
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .table2 tr{
    margin-bottom:15px;
  }
  .table2 td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
   
  }
  .table2 td::before{
    content: attr(data-label);
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }

  .card{
    width: 41vw;
    margin: 0 auto;
    
  }

  .main-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
  }

  .top-cards,
  .bottom-cards {
    grid-row: auto;
  }

  .table2 td, .table2 {
    border: 1px solid #ddd;

  }

  .table, .table2, h1, hr{
    margin: 0 auto;    
  }

  .modal-content{
    margin: 0 auto;
    width: 90%;
  }
 

 section{
   height: 300px;
 }

 .dashboard{
  width: 100%;
 }

}

@media (max-width: 900px) {

  .modal-content{
    margin: 10% auto;
    width: 90%;
  }
 

  .main-cards{
    margin-bottom: 10%;
  }

  .card{
    width: 40vw;
    margin-left: 10%;
    
  }
  .dashboard{
    width: 100%;
  }

  .table2{
    width: 90%;
    border:none;
    margin: 0 auto;
    margin-top: -10px;
  }

  section{
    height: 750px;
  }

  h1{
    font-size: 20px;
  }

}

@media (max-width: 700px) {
  .main-cards{
    margin-bottom: 11%;
  }
  h1{
    font-size: 20px;
  }
  section{
    height: 300px;
  }
}

@media (max-width:670px) {
  section{
    height: 300px;
  }
  h1{
    font-size: 20px;
  }
}  

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }

  .dashboard{
    width: 100%;
  }

  .card{
    width: 35vw;
    margin: 0 auto;
    padding: 7px;

    }
    .main-cards{
      margin-bottom: 12%;
    }

    .card-inner > p {
      font-size: 17px;
    }

    section{
      height: 380px;
    }
    h1{
      font-size: 20px;
    }

}

@media (max-width: 500px) {
  body{
    overflow: hidden;
  }

  .card{
    width: 35vw;
    margin: 0 auto;
    padding: 7px;

    }

    .main-cards{
      margin-bottom: 15%;
    }

  .modal-content{
    margin: 0 auto;
    width: 70%;
  }



  .dashboard{
    width: 100%;
    
  }

  .table2, h1, hr{
    margin-left: 4%;
    
  }

  section{
    height: 350px;
  }
  
  h1{
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  body{
    overflow: hidden;
  }

  .card{
    margin: 0 auto;
    
    }

    .card-inner > p {
      font-size: 17px;
    }

  .main-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom:17%;
    margin-top: 23%;
  }

  .top-cards,
  .bottom-cards {
    grid-row: auto;
  }

  .modal-content{
    margin: 0 10% auto;
    width: 80%;
  }

  .table2{
    width: 93%;
    margin-top: -20px;
    border: hidden;
  }

  section{
    height: 350px;
  }
  h1{
    font-size: 20px;
  }

}

@media (max-width: 420px) {
  .main-cards{
    margin-bottom: 25%;
  }

  section{
    height: 400px;
  }

  h1{
    font-size: 20px;
  }
}  

@media (max-width: 400px) {
  body{
    overflow: hidden;
  }
  
  .card{
    margin: 0 auto;
    }

    .card-inner > p {
      font-size: 17px;
    }

  .main-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10%;
  }

  .top-cards,
  .bottom-cards {
    grid-row: auto;
  }

  .modal-content{
    margin: 0 10% auto;
    width: 80%;
  }
  .table2{
    width: 93%;
  }

  .titulo,hr{
    display: none;
  }

  h1{
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  nav{
    width: 230px;
  }
}  














  