/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

/**/
  
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
  
}


/* ---------- HEADER ---------- */



.menu-icon {
  display: none;
  background-color: transparent;
  color: black;
  padding: 4px;
  z-index: 3;
  width: 0;
  cursor: pointer;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  color: #fff;
  z-index: 4;
  width: 70%;
  background-image: url(../Images/cool-background-3.png);
  background-repeat: no-repeat;
  background-size: cover;


}


.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
 
}

.sidebar-title > span {
  display: none;
  
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none; 
  
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  
}

.sidebar-list-item:hover {
  background-color:#36363660;
  cursor: pointer;
  
}

.sidebar-list-item > a {
  text-decoration: none;
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  font-weight: bold;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

.logo-p{
  width: 100%;
  margin: 0 auto;
}
/*corpo*/

.dashboard{
    position: relative;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: 100%;
    padding: 10px 14px;
    transition: var(--tran-05);
    
    
}

.dashboard .top{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -70px;
   
}

table{
	width: 80vw;
	border-collapse: collapse;

}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
  
}

.table th{
	background-color: black;
	color:#ffffff;
  
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}


.table2{
	width: 100%;
	border-collapse: collapse;
  table-layout: fixed;
  
  
}

.table2 td,.table2{
  padding:12px 15px;
  border:none;
  text-align: center;
  font-size:16px;
  

}

.table2 th{
	background-color: white;
	color:#f58634;
  height: 50px;
  border:none;

}

.table2 tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

hr{
  width: 85vw;
}

.aprovar{
  background-color: rgb(124, 223, 124);
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.rejeitar{
  background-color: rgb(241, 68, 68);
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  
}

.aprovar:hover {
  background-color: green;
  color:white;
  transition: 0.5s ease;
  }

.rejeitar:hover {
    background-color: red;
    color:white;
    transition: 0.5s ease;
    }


.titulo{
  font-weight: bold;
  color: #f58634;
  margin-top: -60px;

}

hr{
  margin-bottom: 20px;
}

  /*teste*/

  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > p {
    font-size: 20px;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
    width: 100%;    
  }

  .top-cards {
    grid-row: 1;
  }
  
  .bottom-cards {
    grid-row: 2;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    margin-top: 70px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .card:first-child {
    border-left: 7px solid #246dec;
  }
  
  .card:nth-child(2) {
    border-left: 7px solid #f5b74f;
  }
  
  .card:nth-child(3) {
    border-left: 7px solid #367952;
  }
  
  .card:nth-child(4) {
    border-left: 7px solid #cc3c43;
  }
  
  .card > span {
    font-size: 20px;
    font-weight: 600;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > p {
    font-size: 18px;
  }
  
  .card-inner > span {
    font-size: 35px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
  }

  /**/

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    border-radius: 20px;
    
  }

  .close:hover {
    color: #f00;
    transition: 0.3s ease;
  }

  section{
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
  }

  /* ---------- MEDIA QUERIES ---------- */

  @media (max-width: 1920px) {

    .table, .table2{
      margin-left: -3%;
      
    }

    .modal-content{
      margin: 2% auto;
    }

   .dashboard{
     width: 84vw;
     overflow: hidden;
   }

   section{
     overflow-y: auto;
   }

   .main-cards{
    margin-bottom: 10%;

   }
  
  }

  @media (max-width: 1601px) {
    .main-cards{
      margin: 0 auto;
      margin-bottom: 7%;
    }

    .menu-icon{
      padding-left: 30px;
      margin-top: 10px;
    }

   .dashboard{
    width: 79vw;
   }

    .table2{
      width: 79vw;
      margin-left: 0.1px;
    }

    .aprovar, .rejeitar{
      width: 46%;
      font-size: 11px;
    }

    .modal-content{
      width: 80%;
      margin: 2% 17% auto;
    }

    section{
      height: 300px;
    }

    .aprovar,.rejeitar{
      width: 55px;
    }
   
  }

/* Medium <= 992px */
@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
    width: 20%;
  }

  .menu-icon {
    display: inline;
    
  }

  .sidebar-title > span {
    display: inline;
  }

  .table thead{
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .table tr{
    margin-bottom:15px;
  }

  .table2 thead{
    display: none;
  }

  .table2, .table2 tbody, .table2 tr, .table2 td{
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .table2 tr{
    margin-bottom:15px;
  }
  .table2 td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
   
  }
  .table2 td::before{
    content: attr(data-label);
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }

  .card{
    width: 41vw;
    margin: 0 auto;
    
  }

  .main-cards {
    grid-template-columns: repeat(2, 1fr);
    
  }

  .top-cards,
  .bottom-cards {
    grid-row: auto;
  }

  .table2 td, .table2 {
    border: 1px solid #ddd;

  }

  .table, .table2{
    width: 75vw;
    margin-left: 8%;
    
  }
  h1{
    margin-left: 8%;
  }
  hr{
    margin-left: 8%;
    width: 83vw;
  }

  .modal-content{
    margin: 2% auto;
    width: 80%;
  }
  .modal{
    z-index: 999;
  }

 section{
   height: 400px;
 }

 .dashboard{
  width: 100%;
 }

}

@media (max-width: 900px) {
  #sidebar{
    width: 30%;
  }
  .modal-content{
    margin: 5% 5% auto;
    width: 90%;
  }
  .modal{
    z-index: 999;
  }

  .main-cards{
    margin-top: 18%;
    margin-bottom: 10%;
  }

  .card{
    width: 40vw;
    margin-left: 10%;
    
  }
  .dashboard{
    width: 100%;
    position: fixed;  }

  .table2{
    width: 90%;
    border:none;
    margin: 0 auto;
  }

  section{
    height: 600px;
  }

  .menu-icon{
    padding-left: 15px;
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .main-cards{
    margin-top: 18%;
    margin-bottom: 15%;
  }
}




  /* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }

  .dashboard{
    width: 100%;
  }

  .card{
    width: 35vw;
    margin: 0 auto;
    padding: 7px;

    }

    .main-cards{
      margin-top: 25%;
    }

    .card-inner > p {
      font-size: 17px;
    }

    section{
      height: 400px;
    }

    .menu-icon{
      padding-left: 10px;
    }
}

@media (max-width: 500px) {
  #sidebar{
    width: 50%;
  }

  .card{
    width: 35vw;
    margin: 0 auto;
    padding: 7px;

    }

    .main-cards{
      margin-top: 30%;
      margin-bottom: 20%;
    }

  .modal-content{
    margin: 5% 10% auto;
    width: 70%;
  }

  .modal{
    z-index: 999;
  }

  .dashboard{
    width: 100%;
    
  }

  .table2, h1, hr{
    margin-left: 4%;
    
  }
 
}

@media (max-width: 450px) {
  .card{
    margin: 0 auto;
    }

    .card-inner > p {
      font-size: 17px;
    }

  .main-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30%;
    margin-bottom: 40%;
  }

  .top-cards,
  .bottom-cards {
    grid-row: auto;
  }

  .modal-content{
    margin: 0 10% auto;
    width: 80%;
  }

  .modal{
    z-index: 999;
  }

  .table2{
    width: 93%;
    margin-top: -20px;
    border: hidden;
  }

  section{
    height: 400px;
  }

  .titulo{
    margin-top: -25%;
  }

  

}
@media (max-width: 400px) {
  .card{
    margin: 0 auto;
    }

    .card-inner > p {
      font-size: 17px;
    }

  .main-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 35%;
    margin-bottom: 10%;
  }

  .top-cards,
  .bottom-cards {
    grid-row: auto;
  }

  .modal-content{
    margin: 0 10% auto;
    width: 80%;
  }

  .modal{
    z-index: 999;
  }

  .table2{
    width: 93%;
  }

  .titulo,hr{
    display: none;
  }
}









  