/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

/**/
  
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
  
}


/* ---------- HEADER ---------- */


.menu-icon {
  display: none;
  background-color: white;
  color: black;
  padding: 4px;
  z-index: 3;
  cursor: pointer;
  
}



/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100vh;
  color: #fff;
  z-index: 4;
  width: 70%;
  background-image: url(../Images/cool-background-3.png);
  background-repeat: no-repeat;
  background-size: cover;


}


.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
 
}

.sidebar-title > span {
  display: none;
  
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none; 
  
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  
}

.sidebar-list-item:hover {
  background-color: #36363660;
  cursor: pointer;
  
}

.sidebar-list-item > a {
  text-decoration: none;
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  font-weight: bold;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f35a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

.logo-p{
  width: 100%;
  margin: 0 auto;
}

#input-busca{
    width: 100%;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(173, 173, 173);
}

.table{
	width: 80vw;
	border-collapse: collapse;
 table-layout: fixed;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: black;
	color:#ffffff;
  width: 10vw;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}


.table2{
	width: 80vw;
	border-collapse: collapse;
  table-layout: fixed;
}

.table2 td,.table2{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table2 th{
	background-color: black;
	color:#ffffff;
  
}

.table2 tbody tr:nth-child(even){
	background-color: #f5f5f5;
}


@media(max-width: 900px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
    margin-left: 0;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
   
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
	.table2 thead{
		display: none;
	}

	.table2, .table2 tbody, .table2 tr, .table2 td{
		display: block;
		width: 100%;
    margin-left: 0;
	}
	.table2 tr{
		margin-bottom:15px;
	}
	.table2 td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
   
	}
	.table2 td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

.visualizar{
  background-color: #f58634;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}

.revisar{
  background-color: #f58634;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  
}

.visualizar:hover{
  background-color: #f37820;
  transition: all 0.3s ease-in;
}
.revisar:hover{
  background-color: #f37820;
  transition: all 0.3s ease-in;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  border: 1px solid #888;
  width: 60%;
  position: relative;
  
}



@media(max-width:1920px){
  .modal-content{
 margin: 40px auto;  
}
}


@media (max-width:1370px){

  .table{
    width: 79vw;
  }
  .modal{
    overflow-x: hidden;
  }
  .modal-content{
    top: -30%;
    margin-left: 14%;
  }
}
@media (max-width:1360px){
  .modal{
    overflow-x: hidden;
  }
  .modal-content{
    top: -30%;
    margin-left: 14%;
  }
}

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
    
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

@media (max-width:500px){
  #sidebar{
    width: 50%;
    height: 100%;
  }
  .menu-icon {
    width: 35px;
    height: 32px;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 20%;
    margin-right: 20px; 
  }

  #input-busca{
    width: 95%;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(173, 173, 173);
}

.table2{
  margin: 0 auto;
  width: 95%;
}

.table2 td::before{
  font-size: 12px;
}

.modal-content{
  width: 80%;
  margin: 45% auto;
}

header{
  margin-left: 13px;
  margin-top: 10px;
  
}

h1{
  width: 100%;
  font-size: 20px;
}

img{
  width: 100px;
  margin: 0 auto;
  margin-top: -30px;
}

body{
  padding: 17px;
}




}



