@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@400&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

/*SIDEBAR*/

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  position: fixed;
  width: 270px;
  height: 100%;
  min-height: 350px;
  color: white;
  background: rgba(0, 0, 0, 0.801);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  transition: ease-in 0.3s;
  z-index: 100;
}

nav.hide {
  width: 0;
}

nav span {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: 800;
  overflow: hidden;
}

.sidebar-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  width: 100%;
  list-style: none;
  overflow: hidden;
}

.sidebar-menu li {
  text-align: center;
  width: 100%;
}

.sidebar-menu li a {
  display: inline-flex;
  align-items: center;
  width: 95%;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: ease-in 0.2s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.sidebar-menu li a:hover {
  color: #35afd4;
  border: 1px solid white;
}

.sidebar-menu li a i {
  margin: 0 18px;
  width: 20px;
}

#toggle-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: -39px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.801);
  border-radius: 0 7px 7px 0;
  border: none;
  cursor: pointer;
  color: white;
  transition: linear 0.2s;
}

#toggle-btn:hover {
  background: rgba(0, 0, 0, 0.623);
  color: #265df2;
}

/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

.table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
  table-layout: fixed;

}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #070d63;
  color: #ffffff;
}


#btn1 {
  justify-content: center;
  height: 35px;
  width: 150px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  background-color: #228B22;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-bottom: 20px;

}

#btn1:hover {
  transition: all 0.3s linear;
  background-color: #006400;
}

#sectionHistorico {
  overflow-y: auto;
  height: 700px;
}

header {
  color: #f58634;
  text-align: center;
  user-select: none;
  font-weight: bold
}

h1 {
  margin: 0 auto;
  font-weight: bold
}

.pesquisa{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid rgb(173, 173, 173);
  padding: 13px;
}
  .filtro{
      cursor: pointer;
      border-color: transparent;
      outline: none;
  }

  .input-pesquisa{
      width: 100%;
      outline: none;
      border-color: transparent;
      font-size: 15px;      
  }

  #nomeUsuario{
    position: absolute;
    bottom: 50px;
    user-select: none;
  }
  
  #icone{
    position: absolute;
    bottom: 20px;
    width: 100px;
    color: white;
    margin-left: 85%;
  }
  
  #cargo{
    font-size: 15px;
    position: absolute;
    bottom: 0;
  }

@media(max-width:1400px) {
  #sectionHistorico {
    overflow-y: auto;
    height: 450px;
  }
}

@media(max-width:950px) {
  #sectionHistorico {
    height: 700px;
  }

}


@media(max-width:480px) {

  #sectionHistorico {
    overflow-y: auto;
    height: 400px;
  }

  body {
    overflow: none;
  }

}

@media(max-width:992px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
    margin-left: 0;
	}
	.table tr{
		margin-bottom:15px;
    
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
    border: 1px solid rgba(128, 128, 128, 0.55);

	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}

.table{
  margin: 20px auto;
  border: 1px solid rgba(128, 128, 128, 0.55);
}

#sectionHistorico{
  height: 450px;
}

}